<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active app-tab">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="app-tab">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="app-tab">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="app-tab">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="app-tab">
            <a href="#custom5" aria-controls="custom5" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
            </a>
        </li>
        <li role="presentation" class="app-tab">
            <a href="#custom6" aria-controls="custom6" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <router-outlet></router-outlet>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">Coming soon...</div>
        <div role="tabpanel" class="tab-pane" id="messages">Coming soon...</div>
        <div role="tabpanel" class="tab-pane" id="settings">Coming soon...</div>
        <div role="tabpanel" class="tab-pane" id="custom5">Coming soon...</div>
        <div role="tabpanel" class="tab-pane" id="custom6">Coming soon...</div>
    </div>

</div>


